.main-menu{
    font-family: "Droid Sans", Helvetica, Arial;
    font-size: 150%;
    background-color: tomato;
    color: white;
}



.ghibli-header{
    font-family: "Droid Sans", Helvetica, Arial;
    font-size: 300%;
    font-weight: 900;
    color: white;
}

.ghibli-tagline{
    font-family: "Droid Sans", Helvetica, Arial;
    font-size: 150%;
    color: white;
}

.ghibli-top-row, .ghibli-bottom-row{
    font-family: "Droid Sans", Helvetica, Arial;
    font-size: 110%;
    color: white;

}

.second-header{
    font-family: "Droid Sans", Helvetica, Arial;
    font-size: 300%;
    font-weight: 600;
    color: #ce5278; 

}
.second-paragraphs{
    font-family: "Droid Sans", Helvetica, Arial;
    font-size: 110%;
    color: #eff5f5;
}
.fonttest{
    font-size:175%;
    color: #ce5278;
    padding-bottom: 10px;
    text-align: left; 

}
.colophon-header{
    font-family: "Droid Sans", Helvetica, Arial;
    color: tomato;
}

.colophon-content{
    font-family: "Droid Sans", Helvetica, Arial;
    font-size: 110%;
    color: royalblue;
}
